<!--
File Name: index.html
Date: 01/22/2016
Programmer: Jim Medlock
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Jim Medlock">
    <meta name="subject" content="Timestamp Microservice">
    <meta name="datecreated" content="20170122">
    <meta name="datereviewed" content="20170122">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener Microservice</title>

    <!-- ALL CSS GOES IN THE META HEAD SECTION -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" integrity="sha256-uHu2MAd1LvCOVEAhvMld4LpJi7dUGS7GVzvG/5B3hlo=" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
   <!-- Main webpage body -->
   <div class="container-fluid">
      <h1>API Basejump: URL Shortener Microservice</h1>
      <h3>User stories:</h3>
      <ol>
         <li>I can pass a URL as a parameter and I will receive a shortened
           URL in the JSON response.
           <h5>Usage:<pre>https://aurlshortener.herokuapp.com/new/https://www.google.com</pre>
           <h5>Output:<pre>{"_id":"58a8c8d015d41800111d733d","url":"http://www.google.com","short_code":"Sk_ROHIYx"}</pre>
         </li>
         <li>If I pass an invalid URL that doesn't follow the valid
           http://www.example.com format, the JSON response will contain an
           error instead.
           <h5>Usage:<pre>https://aurlshortener.herokuapp.com/new/blahblahblah</pre>
           <h5>Output:<pre>{"error":"Incorrect URL format. Ensure that your URL has a valid protocol and format. blahblahblah"}</pre>
         </li>
         <li>When I visit that shortened URL, it will redirect me to my
           original link.
           <h5>Usage:<pre>https://aurlshortener.herokuapp.com/2871</pre>
           <h5>Output:<pre>https://www.google.com/</pre>
         </li>
         <li>When I pass the 'urls' keyword in the url, all the URLs in the
           database will be displayed in JSON format.
           <h5>Usage:<pre>https://aurlshortener.herokuapp.com/urls</pre>
           <h5>Output:<pre>{"urls":[{"_id":"58a860775d711608d7c607fc","url":"http://www.google.com","short_code":"rylKxkIYg"}]}</pre>
         </li>
         <li>When I pass the 'delete' keyword in the url along with either a
           parameter containing the URL or its shortcode, that URL will be
           deleted from the database.
           <h5>Usage (URL):<pre>https://aurlshortener.herokuapp.com/delete/www.google.com</pre>
           <h5>Output (URL):<pre>{"entry_deleted": [{"_id":"58a860775d711608d7c607fc","url":"http://www.google.com","short_code":"rylKxkIYg"}]}</pre>
           <h5>Usage (short code):<pre>https://aurlshortener.herokuapp.com/delete/rylKxkIYg</pre>
           <h5>Output (short code):<pre>{"entry_deleted": [{"_id":"58a860775d711608d7c607fc","url":"http://www.google.com","short_code":"rylKxkIYg"}]}</pre>
         </li>
      </ol>
   </div> <!-- end main webpage body -->

   <!-- ALL JAVASCRIPT LINKS GOES RIGHT BEFORE THE ENDING BODY TAG -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
